<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haogu.mapper.HouseMapper">
    <resultMap id="house" type="House">
        <id property="id" column="id"/>
        <result property="floorName" column="floor_name"/>
        <result property="unit" column="unit"/>
        <result property="roomNum" column="room_num"/>
        <result property="houseUse" column="house_use"/>
        <result property="area" column="area"/>
        <result property="pooledArea" column="pooled_area"/>
        <result property="realArea" column="real_area"/>
        <result property="shi" column="shi"/>
        <result property="ting" column="ting"/>
        <result property="chu" column="chu"/>
        <result property="wei" column="wei"/>
        <result property="parkNum" column="park_num"/>
        <result property="storageNum" column="storage_num"/>
        <result property="roomStatus" column="room_status"/>
        <result property="remark" column="remark"/>
        <result property="communityId" column="community_id"/>
        <result property="floorId" column="floor_id"/>
    </resultMap>
    <select id="selectAll" resultMap="house">
        select *
        from sys_house
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into sys_house
        values (null, #{floorName}, #{unit}, #{roomNum}, #{houseUse}, #{area},
                #{pooledArea}, #{realArea}, #{shi}, #{ting},
                #{chu}, #{wei}, #{parkNum}, #{storageNum},
                #{roomStatus}, #{remark}, #{communityId}, #{floorId})
    </insert>
    <select id="selectByUse" resultMap="house">
        select *
        from sys_house
        where house_use like concat('%', #{houseUse}, '%')
    </select>
    <select id="selectByName" resultMap="house">
        select *
        from sys_house
        where floor_name like concat('%', #{name}, '%')
    </select>

    <delete id="deleteById">
        delete
        from sys_house
        where id = #{id}
    </delete>
    <delete id="deleteBatch">
        delete
        from sys_house
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="update">
        update sys_house
        <set>
            <if test="floorName!=null and floorName!=''">
                floor_name=#{floorName},
            </if>
            <if test="unit!=null and unit!=''">
                unit=#{unit},
            </if>
            <if test="roomNum!=null and roomNum!=''">
                room_num=#{roomNum},
            </if>
            <if test="houseUse!=null and houseUse!=''">
                house_use=#{houseUse},
            </if>
            <if test="area!=null">
                area=#{area},
            </if>
            <if test="pooledArea!=null">
                pooled_area=#{pooledArea},
            </if>
            <if test="realArea!=null">
                real_area=#{realArea},
            </if>
            <if test="shi!=null">
                shi=#{shi},
            </if>
            <if test="ting!=null">
                ting=#{ting},
            </if>
            <if test="chu!=null">
                chu=#{chu},
            </if>
            <if test="wei!=null">
                wei=#{wei},
            </if>
            <if test="parkNum!=null and parkNum!=''">
                park_num=#{parkNum},
            </if>
            <if test="storageNum!=null and storageNum!=''">
                storage_num=#{storageNum},
            </if>
            <if test="roomStatus!=null and roomStatus!=''">
                room_status=#{roomStatus},
            </if>
            <if test="remark!=null and remark!=''">
                remark=#{remark},
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="selectByPage" resultMap="house">
        select *
        from sys_house h
        where h.community_id=#{communityId}
    </select>
</mapper>